<%- include('../shared/header', {'pageTitle' : 'Album Info'}); %>
  <h1 class="white-text">Album Info</h1>
  <div class="divider"></div>
  <div class="row"></div>
  <% albumInfo.forEach(function(albumInfo){%>
    <div class="row">

      <div class="col s12 m9 l9">
        <h2><a href="/artist/<%= artist.id %>"><%= album.title %></a></h2>
        <p class="white-text">
          <a href="/artist/<%= artist.id %>">
            <%= artist.name %>
          </a>
        </p>
        <p class="white-text">
          <%= album.year %>
        </p>
        <p class="white-text">Songs:
          <%= album.songCount %>
        </p>
      </div>

      <div class="col s12 m3 l3">
        <img class="circle photo" src="<%= album.image %>" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2 l2">
        <ul class="collection with-header">
          <li class="collection-header white-text grey">
            <h4>Track</h4></li>
          <li class="collection-item">
            <%= song.track_no %>
          </li>
        </ul>
      </div>

      <div class="col s12 m8 l8">
        <ul class="collection with-header">
          <li class="collection-header white-text grey">
            <h4>Song</h4></li>
          <li class="collection-item">
            <%= song.title %>
          </li>
        </ul>
      </div>

      <div class="col s12 m2 l2">
        <ul class="collection with-header">
          <li class="collection-header white-text grey">
            <h4>Length</h4></li>
          <li class="collection-item">
            <%= song.length %>
          </li>
        </ul>
      </div>

    </div>
    <%})%>
      <% include ../shared/footer %>
