<%- include('../shared/header', {'pageTitle' : 'Artists'}); %>
<h3 class="white-text">Artists</h3>
<div class="divider"></div>
<div class="row"></div>
<% artists.forEach(function(artist){%>
<div class="row">
    <div class="col s12 m2 l2">
        <img class="circle" src="http://placehold.it/110x110" alt="">
    </div>

    <div class="col s12 m8 l8">
        <p><a href="/artist/<%= artist.id %>"><%= artist.name %></a></p>
        <p>#of Albums: <%= artist.albumCount %></p>
        <p>Genre: <%= artist.genre %></p>
    </div>

    <div class="col s12 m2 l2">
        <i class="fa fa-star yellow-text" aria-hidden="true"></i>
        <i class="fa fa-star yellow-text" aria-hidden="true"></i>
        <i class="fa fa-star yellow-text" aria-hidden="true"></i>
        <i class="fa fa-star yellow-text" aria-hidden="true"></i>
        <i class="fa fa-star grey-text" aria-hidden="true"></i>
    </div>
</div>
<%})%>
<% include ../shared/footer %>
