<div class="row">
  <div class="col s12 m2 l2">
    <a href="/albums/<%= album.id%>">
      <img class="circle" src="<%= album.image %>" alt="<%=album.title%>">
    </a>
  </div>

  <div class="col s12 m8 l8">
    <p>
      <a class="white-text" href="/albums/<%= album.id%>">
        <h4 ><%= album.title %></h4>
      </a>
    </p>
    <div class="row">
      <div class="col s4">
        Artist:
        <a class="white-text" href="/artists/<%= album.artist_id %>">
          <%= album.artistName %>
        </a>
      </div>
      <div class="col s4">
        Songs:
        <%= album.songCount %>
      </div>
    </div>

  </div>

  <div class="col s12 m2 l2">
    <% include ../layout/ratings %>
  </div>

</div>
