<%- include('shared/header', {'pageTitle' : artist.name}); %>
<div class="row"></div>
<div class="row">

  <div class="col s12 m9 l9">
    <h2 class="white-text"><%= artist.name %></h2>
    <div class="row">
      <div class="col s4">
        Albums:
        <%= artist.albumCount %>
      </div>
      <div class="col s4">
        Genre:
        <%= artist.genre %>
      </div>
    </div>
  </div>

  <div class="col s12 m3 l3">
    <img class="circle photo" src="<%= artist.image %>" alt="">
  </div>
</div>

<% artistAlbums.forEach(function(album){ %>

  <div class="row">

    <div class="col s12 m2 l2">
      <a href="/album/<%= album.id %>">
        <img class="circle" src="<%= album.image %>" alt="">
      </a>
    </div>

    <div class="col s12 m8 l8">

      <p>
        <a class="white-text" href="/album/<%= album.id %>">
          <%= album.title %>
        </a>
      </p>
      <div class="row">
        <div class="col s4">
          <%= album.year %>
        </div>
        <div class="col s4">
          Songs: <%= album.songCount %>
        </div>
      </div>
    </div>

    <div class="col s12 m2 l2">
      <% include shared/ratings %>
    </div>

  </div>
<% }) %>
<% include shared/footer %>
